[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts] 
server = "python main.py"
"worker_server" = "gunicorn main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind localhost:9797"

[packages]
fastapi = "*"
pydantic = "*"
pipenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncio = "*"
fastapi-utils = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
