[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts] 
server = "python main.py"

[packages]
fastapi = "*"
pydantic = "*"
pipenv = "*"
uvicorn = "*"
asyncio = "*"
fastapi-utils = "*"

[dev-packages]

[requires]
python_version = "3.9"
