[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts] 
server = "uvicorn main:app --host 0.0.0.0 --port 9797 --workers 4"
local = "uvicorn main:app --host localhost --port 9797 --workers 4"

[packages]
fastapi = "*"
pydantic = "*"
pipenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncio = "*"
fastapi-utils = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
